footer{
    form{
        input{
            padding: 15px;
            &:focus{
                background-color: cadetblue;
                &::placeholder{
                    color: white;
                }
            }
        }
    }
}